# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Assemblies/Debug/GeoCache.Core.dll
Source/geoCache/bin/Debug/*
Source/Assemblies/Debug/*
*/obj/Debug/*
*.cache
Source/Extensions/geoCache.Configuration/obj/*
Source/Extensions/geoCache.Extensions.Base/obj/*
Source/Extensions/geoCache.Configuration.Test/obj/*
Source/Extensions/geoCache.Layers.Wms.ImageResponseValidators/obj/*
Source/Extensions/geoCache.Layers.Wms/obj/*
Source/geoCache.Demo/bin/*
Source/geoCache.Demo/obj/*
Source/geoCache.Web/bin/*
Source/geoCache.TMS/bin/*
Source/geoCache.Core/obj/*
Source/geoCache.Core/bin/*
*.suo
Source/geoCache.vsmdi
Source/geoCache.TMS/obj/*
Source/geoCache.Web/obj/*
Source/Extensions/geoCache.Services.Wms/obj/*
Assemblies/Debug/*
Source/geoCache/obj/*
Source/Extensions/geoCache.Caches.Azure/bin/*
Source/Extensions/geoCache.Caches.Azure/obj/*
Source/Extensions/geoCache.Caches.Disk/bin/*
Source/Extensions/geoCache.Caches.Disk/obj/*
Source/Extensions/geoCache.Extensions.Base/bin/*
Source/Extensions/geoCache.Layers.Tms/bin/*
Source/Extensions/geoCache.Layers.Tms/obj/*
*.user
Source/geoCache.Demo/geoCache.secure.cfg
Source/Seed/bin/*
Source/Seed/obj/*
