<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="unity"
							type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
                 Microsoft.Practices.Unity.Configuration, Version=1.1.0.0,
                 Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
	</configSections>

	<unity>

		<typeAliases>

			<!-- Lifetime manager types -->
			<typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,Microsoft.Practices.Unity" />
			<typeAlias alias="external"  type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager,Microsoft.Practices.Unity" />

			<!-- User-defined type aliases -->
      <typeAlias alias="ICache"              type="GeoCache.Core.ICache, GeoCache.Core" />
      <typeAlias alias="ILayer"              type="GeoCache.Core.ILayer, GeoCache.Core" />
      <typeAlias alias="ILayerContainer"     type="GeoCache.Core.ILayerContainer, GeoCache.Core" />
      <typeAlias alias="ILoadTileLogger"     type="GeoCache.Core.ILoadTileLogger, GeoCache.Core" />
      <typeAlias alias="IService"            type="GeoCache.Core.IService, GeoCache.Core" />
      <typeAlias alias="ITileRenderer"       type="GeoCache.Core.ITileRenderer, GeoCache.Core" />
      <typeAlias alias="IBBox"               type="GeoCache.Core.IBBox, GeoCache.Core" />

      <!-- User-defined type aliases used by geoCache.Layers.Wms -->
			<typeAlias alias="IResponseValidator"   type="GeoCache.Layers.Wms.IResponseValidator, GeoCache.Layers.Wms" />
			<typeAlias alias="UriInterceptor"       type="GeoCache.Layers.Wms.UriInterceptor, GeoCache.Layers.Wms" />

			<typeAlias alias="string" type="System.String, mscorlib" />
		</typeAliases>
		<containers>

			<container name="geoCacheContainer">

				<types>
          <type type="ILayerContainer" mapTo="GeoCache.Configuration.Text.TextConfig, GeoCache.Configuration">
            <lifetime type="singleton" />
          </type>

          <type type="IService"       name="wms"   mapTo="GeoCache.Services.Wms.WmsService, GeoCache.Services.Wms" ></type>
          <type type="IService"       name="osm"   mapTo="GeoCache.Layers.Tms.OsmService, GeoCache.Layers.Tms" ></type>
          
          <type type="ILayer"         name="wms"   mapTo="GeoCache.Layers.Wms.WmsLayer, GeoCache.Layers.Wms" ></type>

          <type type="ICache"         name="azure" mapTo="GeoCache.Caches.Azure.AzureCache, GeoCache.Caches.Azure" ></type>
          <type type="ICache"         name="disk"  mapTo="GeoCache.Caches.Disk.DiskCache, GeoCache.Caches.Disk" ></type>
          
          <type type="ICache"                      mapTo="GeoCache.Configuration.Text.TextConfig, GeoCache.Configuration" >
            <lifetime type="singleton" />
          </type>
          
          <type type="ITileRenderer"              mapTo="GeoCache.TileRenderer, GeoCache" ></type>
          
          <type type="IBBox"                      mapTo="GeoCache.Core.BBox, GeoCache.Core" >
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement, Microsoft.Practices.Unity.Configuration">
              <constructor> <!-- Use the parameter-less constructor --> </constructor>
            </typeConfig>
          </type>
          
          <type type="IResponseValidator" name="ImageResponseValidator"
								mapTo="GeoCache.Layers.Wms.ImageResponseValidators.ImageResponseValidator, GeoCache.Layers.Wms.ImageResponseValidators" >
            <lifetime type="singleton" />
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement, Microsoft.Practices.Unity.Configuration">
              <property name="ThrowIfNotImageString" propertyType="System.String">
                <value value="true" />
              </property>
            </typeConfig>
          </type>
        </types>

			</container>

		</containers>

	</unity>

</configuration>

